<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a New Ascii!!</title>
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <style>
        body {
            font-family: 'JetBrains Mono';font-size: 2rem;
        }
    </style>
</head>
<body>
<h1>Create a New Ascii</h1>
<form
        enctype="multipart/form-data"
        action="http://localhost"
        th:action="@{/asciis/save}"
        method="post"
>
    <label for="file">File Upload</label>
    <input type="file" id="file" name="file" />
    <label for="width">Desired width of output in characters</label>
    <input type="number" name="width" id="width" value="80"/>
    <label for="height">Desired height of output in characters</label>
    <input type="number" name="height" id="height" value="25"/>
    <label for="palette">Preferred palette of characters for output (should range from more dense to less).</label>
    <input type="text" name="palette" id="palette" value=" .:-=+*#%@" />
    <label for="reverse">Check to reverse the palette in evaluation</label>
    <input type="checkbox" name="reverse" id="reverse" />
    <label for="title">Enter a title for your image</label>
    <input type="text" name="title" id="title" />
    <label for="description">Describe the image here</label>
    <input type="text" name="description" id="description">

    <input type="submit" value="upload" />
</form>
</body>
</html>